.commentPageHeader {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .addComment {
    width: fit-content;
  }
  .filters {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6px;
    .select {
      width: 240px;
      cursor: pointer;
    }
    .groupSearch {
      width: 200px;
    }
  }
}
