.visitPage {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  table {
    width: 100%;
    margin-top: 20px;
    text-align: left;
    border-spacing: 0px;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid black;
      text-align: center;
      padding: 8px;
    }

    /* .num {
            width: 5%;
        } */

    .fio {
      text-align: left;
    }
  }
}
