.teacherPage {
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  gap: 28px;
  .teacherInfo {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  span {
    font-size: 14px;
  }

  .avatar {
    border-radius: 12px;
    overflow: hidden;
    object-fit: cover;
  }
  .teacherComments {
    width: 40%;
    .comment {
      position: relative;
      padding: 8px 14px;
      background-color: #3391cf;
      border-radius: 8px;
      span {
        color: #fff;
        cursor: default;
      }
      button {
        margin-top: 10px;
        align-self: flex-end;
        width: min-content;
        background-color: #fff;
        cursor: pointer;
        span {
          color: #3391cf;
          cursor: pointer;
        }
      }
      .break {
        font-size: 14px;
        position: absolute;
        top: 10px;
        right: 10px;
        color: red;
        background-color: #fff;
        padding: 2px 8px;
        border-radius: 8px;
      }
    }
  }
}
